body {
	background: url(https://images.unsplash.com/photo-1475744214834-0cb9be6eb226?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: white;
	margin: 0;
}

html {
	height: 100%;
}

#nav-bar {

}

.topnav {
  overflow: hidden;
  background-color: #fcfcfc;
}

.topnav a {
  float: left;
  display: block;
  color: #777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eae5e5;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#titleBlock {
	text-align: center;
	padding-top: 8%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
	font-weight: 700;
	font-size: 5em;
	margin-bottom: 12px;
}

h3 {
	text-transform: uppercase;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba (0, 0, 0, 0.2);
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#submit {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 120px;
  margin: 10px;
  border: 0px solid;
}
